.App {
  text-align: center;
}

.articlecard {
  list-style: none;
  background-color: palegoldenrod;
  width: 50%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
}

.topicslink {
  margin: 10px;
  color: darkblue;
}

.topicsbar {
  background-color: coral;
}
