.App {
  text-align: center;
}

* {
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  list-style-type: none;
}
.title a {
  color: #f7f9fb;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.articlecard {
  list-style: none;
  background-color: #f7f9fb;
  width: 50%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
}

.article {
  background-color: #f7f9fb;
  color: #31708e;
  width: 50%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: f7f9fb;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
}

.articlecard a:visited {
  color: #5085a5;
}

.articlecard a:link {
  color: #31708e;
}

.article-body {
  text-align: justify;
  padding: 0px 10px 0px 10px;
}

.topicslink {
  margin: 10px;
  color: #31708e;
}

.topicsbar {
  background-color: #f7f9fb;
  margin: 10px;
}

.comment {
  background-color: azure;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}

.comments {
  background-color: #8fc1e3;
  border-radius: 20px;
}

.comment-author {
  text-align: left;
}

.comment-body {
  text-align: left;
  border-style: solid;
  padding: 10px;

  border-radius: 20px;
  background-color: #f7f9fb;
}

.postcomment {
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
}

.postcomment textarea {
  width: 90%;
  height: 100px;
  resize: none;
}
